@model IEnumerable<ASP_test1.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <thead >
                <tr >
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>

</body>
</html>

